<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.LearnSpringBootApplication.springin5steps"/>

    <bean id="xmlJdbcConnection"
          class="com.LearnSpringBootApplication.springin5steps.XmlJdbcConnection">
    </bean>

    <bean id="restTemplateImpl"
          class="com.LearnSpringBootApplication.springin5steps.RestTemplateImpl">
    </bean>

    <bean id="xmlPersonDao"
          class="com.LearnSpringBootApplication.springin5steps.XmlPersonDao">
        <!-- collaborators and configuration for this bean go here -->
        <property name="XmlJdbcConnection" ref="xmlJdbcConnection"/>
        <property name="RestTemplateImpl" ref="restTemplateImpl"/>
    </bean>

    <!-- more bean definitions go here -->

</beans>